:root {
    --light2: #8db5be;
    --background: #104260;
    --light: #d1dfde;
    --in-background: #10637c;
    --wedgewood: #4a889b;
    --blue-bayoux: #516685;
    --corduroy: #545c5c;
    --sirocco: #798182;
    --light3: #b4dcdc;

}